.container {
  aspect-ratio: 1.77/1;
  background: center no-repeat url("/icons/cart2.svg");
  background-size: 100%;
  display: grid;
  align-items: center;
  align-content: center;
  grid-row-gap: 25px;
  text-align: center;
  font-size: 23px;

  line-height: 39px;
}
