/* Webfont: RacerBoy-Bold */@font-face {
    font-family: 'RacerBoy';
    src: url('RacerBoy-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('RacerBoy-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

