/* Webfont: RacerBoy-Italic */@font-face {
    font-family: 'RacerBoy';
    src: url('RacerBoy-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('RacerBoy-Italic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

