.container {
  background: center no-repeat url("/icons/cart1.svg");
  background-size: contain;
  aspect-ratio: 1.12/1;
  margin-top: 100px;
  display: grid;
  position: relative;
  /*  */
} 

.icon {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin:auto;
  /* background: center no-repeat url("/icons/cart1-1.svg"); */
  height: 210px;
  width: 190px;
  display: grid;
  align-items: center;
  align-content: center;
}

.text {
  margin-top: 24%;
  font-size: 1vw;
  line-height: 1.6vw;
  text-align: center;
  display: grid;
  align-items: center;
  align-content: center;
  height: calc(100% - 16%);
}