.container {
  padding: 100px 7.5% 0px;
  /* margin-top: 240px; */
}

.columns1 {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-around;
  margin: 145px 0px;
}

.info__paragraph {
  margin: 32px 0px;
  font-size: 1.3vw;
  line-height: 2.2vw;
}

.info__buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  justify-content: flex-start;
  align-items: center;
}

.info__rm {
  font-size: 16px;
  color: var(--color-aqua);
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  align-items: center;
}
