.top-border {
  height: 81px;
  background-color: red;
  clip-path: polygon(
    0% 80px,
    20% 80px,
    25% 0%,
    75% 0%,
    80% 80px,
    100% 80px,
    100% 81px,
    calc(80% - 1px) 81px,
    calc(75% - 1px) 1px,
    calc(25% + 1px) 1px,
    calc(20% + 1px) 81px,
    0% 81px
  );
  /* margin-top: 80px; */
  /* background: linear-gradient(
      180deg,
      rgba(17, 217, 235, 1) 0%,
      rgba(228, 43, 200, 1) 40%
    ); */
  background: linear-gradient(180deg, #11d9eb 0%, #e42bc8 100%);
}

.container {
  min-height: 1827px;
  margin-top: -80px;
  background: center no-repeat url("/images/block2-bg.jpg");
  background-size: cover;
  clip-path: polygon(
    0 80px,
    20% 80px,
    25% 0%,
    75% 0%,
    80% 80px,
    100% 80px,
    100% calc(100% - 80px),
    80% calc(100% - 80px),
    75% 100%,
    25% 100%,
    20% calc(100% - 80px),
    0 calc(100% - 80px)
  );
}

.content {
  /* margin-top: 66px; */
  text-align: center;
  margin: 66px 7.5% 0px;
  /* border: 1PX solid red; */
}

.columns1 {
  margin: 100px 0px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6%;
}

.info {
  text-align: left;
}

.info__paragraph {
  margin: 50px 160px 50px 0px;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 2.2vw;
  letter-spacing: -0.02em;
  text-align: left;
}

.video-block {
  /* height: 464px; */
  /* width: 826px; */
  aspect-ratio: 1.7778/1;
  /* border: 1px solid var(--color-aqua); */
  box-sizing: content-box;
  background: center no-repeat url("/icons/video-border1.svg");
  background-size: contain;
  position: relative;
  
}

.video-block video {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: -1;
  width: 100%;
  clip-path: polygon(
    0% 7.5%,
    0% 92.5%,
    4.5% 100%,
    95.5% 100%,
    100% 92.5%,
    100% 7.5%,
    95.5% 0,
    4.5% 0
  );
  /* height: 100%; */
  /* aspect-ratio: 1.78/1; */
  /* height: 100%; */
  /* width: calc(100% - 1px); */
  /* width: calc(100% - 1px); */
  /* height: inherit; */
  /* width: inherit; */
  z-index: -1;
  object-fit: cover;
  
}

.columns2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  justify-content: space-around;
  margin-top: 80px;
}

.columns3 {
  margin-top: 130px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 70px;
  justify-content: center;
}
