.page{
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

.first {
  height: 100vh;
  background: url('/img/top-bg.jpg'); 
  display: grid;
  align-items: center;
  align-content: center;
}