.container {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1.8px;
    left: 1px;
    background: #0f0425;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  /* .containerBorder:hover {
    height: 265px;
  } */
  
  .polygon {
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  }
  
  .containerBorder {
    position: relative;
    transition: height 0.3s;
    width: 25vw;
    height: 80px;
    position: relative;
    background: linear-gradient(
      220deg,
      rgba(17, 217, 235, 1) 0%,
      rgba(228, 43, 200, 1) 40%
    );
  }
  